{% extends 'blog_app/base.html' %}
{% block content %}
<h1 class="mb-3">Post by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
	{% for object in object_list reversed %}	
		<article class="media content-section">
			<img class="rounded-circle article-img " src=" {{ object.author.profile.image.url }} ">
			<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="{%  url 'user-posts' object.author.username %}">{{ object.author }}</a>
				<small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
			</div>
				<h2><a class="article-title" href="{% url 'post-detail' object.id %}">{{ object.title }}</a></h2>
				<p class="article-content">{{ object.content }}</p>
			</div>
		</article>
	{% endfor %}

	{% if is_paginated %}
	<div class="container">
		<div class="row ">
			<div class="col">
				{% if page_obj.has_previous %}
					<a class="btn btn-outline-info btn-sm mb-4" href="?page=1">First</a>
				{% endif %}
				{% for num in page_obj.paginator.page_range %}
					{% if page_obj.number == num %}
						<a class="btn btn-info btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
					{% else %}
						<a class="btn btn-outline-info btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
					{% endif %}

				{% endfor %}

				{% if page_obj.has_next %}
					<a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}

{% endblock content %}


